<% content_for :styles do %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>


<body id="auth_wrapper" >
  <div id="login_wrapper">
    <div class="logo">
      <img src="/enkidu.png" alt="logo" class="logo-img">
    </div>
    <div id="login_content">
      <h1 class="login-title">
        Create an account
      </h1>
      <div class="login-body">
        <div class="card-description">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <i class="zmdi zmdi-email"></i>
                    <%= f.label :first_name, class: "control-label" %><br />
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-email"></i>
                    <%= f.label :last_name, class: "control-label" %><br />
                    <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-email"></i>
                    <%= f.label :email, class: "control-label" %><br />
                    <%= f.email_field :email, autocomplete: "off", class: "form-control"%>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-lock"></i>
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-lock"></i>
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-email"></i>
                    <%= f.label :job_profile, class: "control-label" %><br />
                    <%= f.text_field :job_profile, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <i class="zmdi zmdi-email"></i>
                    <%= f.label :linkedin_profile, 'LinkedIn URL',class: "control-label" %><br />
                    <%= f.text_field :linkedin_profile, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="actions">
                    <center><%= f.submit "Sign up", class: "btn btn-primary btn-cons" %></center>
                  </div>
                <% end %>
                <div class="login-footer p-15">
                  <p>
                   <center>Already have an account? <%= render "devise/shared/links" %></center>  
                  </p>
                </div>
              </div>



      </div>
      
      <div id="register_wrapper">
        <ul class="card-actions icons right-top">
          <li>
            <a href="javascript:void(0)" data-toggle="register">
              <i class="zmdi zmdi-close"></i>
            </a>
          </li>
        </ul>
        <h1 class="login-title">
          Create an account
        </h1>
        <div class="login-body">
          <form>
            <div class="form-group label-floating is-empty">
              <label class="control-label">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group label-floating is-empty">
              <label class="control-label">Email</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group label-floating is-empty">
              <label class="control-label">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group label-floating is-empty">
              <label class="control-label">Confirm Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="checkbox inline-block">
              <label>
                <input type="checkbox" class="checkbox-inline" value="">
                I agree to the <a href="javascript:void(0)">terms of services</a>
              </label>
            </div>
            <a href="javascript:void(0)" class="btn btn-info btn-block m-t-40">Create my account</a>
          </form>
        </div>
        <div class="login-footer p-15">
          <p>
            Already have an account? <a href="javascript:void(0)" data-toggle="register">Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
