<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <header id="header">
          <h1>Bids</h1>
        </header>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked nav-pills-primary" id="resolution-list-bids" role="tablist">
          <li class="active" id="li-add_c-bids">
            <a href="/bids?resolution_id=1">
              Adding Collaborator
            </a>
          </li>
          <li id="li-remove_c-bids" class="">
            <a href="/bids?resolution_id=2">
              Removing Collaborator
            </a>
          </li>
          <li class="" id="li-vote_d-bids">
            <a href="/bids?resolution_id=3">
              Dilution
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9">
        <div id="pillContent3" class="tab-content m-t-15">
          <div class="tab-pane fade active in" id="pillnav9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead style="background-color: white;">
                  <tr>
                    <td style="text-align: center;">BIDDER </td>
                    <td style="text-align: center;">PROJECT TITLE</td>
                    <td style="text-align: center;">BID (IN %)</td>
                    <td style="text-align: center;">VESTING PERIOD (in months)</td>
                  </tr>
                </thead>
                <tbody>
                  <%@bids.each do |bid|%>
                    <%@project = Project.where(id: bid.project_id).first%>
                    <tr style="background-color: white;">
                      <td style="text-align: center">
                        <div class="chip">
                      <div class="circle-profile-photo" data-name="<%= current_user.full_name%>"><canvas width="32" height="32"></canvas></div><span><%= current_user.full_name%></span>
                      </div>
                       </td>
                      <td style="text-align: center">
                        <%= link_to project_path(@project) do%>
                          <h5 style="margin-top: 10px;"><%= @project.title%></h5> 
                        <%end%>
                      </td>
                      <td style="text-align: center;">
                        <h5 style="margin-top: 10px;"><%=bid.bid_percentage.present? ? bid.bid_percentage : '-' %></h5>
                      </td>
                      <td style="text-align: center;">
                        <% @vesting = bid["variables"]["vesting_period"] %>
                        <h5 style="margin-top: 10px;"><%= @vesting.present? ? @vesting : '-' %></h5>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
<!--           <div class="tab-pane fade" id="pillnav10">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead style="background-color: white;">
                  <tr>
                    <td style="color:white; text-align: center;">BIDDER </td>
                    <td style="color:white; text-align: center;">PROJECT TITLE</td>
                    <td style="color:white; text-align: center;">BID (IN %)</td>
                    <td style="color:white; text-align: center;">VESTING PERIOD (in months)</td>
                  </tr>
                </thead>
                <tbody>
                  <%@bids.each do |bid|%>
                  <%@project = Project.where(id: bid.project_id).first%>
                  <tr style="background-color: white;">
                    <td style="text-align: center">
                      <img src="assets/img/profiles/10.jpg" alt="" class="img-circle max-w-40 m-r-10 ">
                      <%= current_user.full_name%>
                    </td>
                    <td style="text-align: center">
                      <%= link_to project_path(@project) do%>
                      <h5 style="margin-top: 10px;"><%= @project.title%></h5>
                      <%end%>
                    </td>
                    <td style="text-align: center;">
                      <h5 style="margin-top: 10px;"><%=bid.bid_percentage%></h5>
                    </td>
                    <td style="text-align: center;">
                      <% @vesting = bid["variables"]["vesting_period"] %>
                      <h5 style="margin-top: 10px;"><%= @vesting %></h5>
                    </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div> -->
<!--           <div class="tab-pane fade" id="pillnav11">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead style="background-color: white;">
                  <tr>
                    <td style="color:white; text-align: center;">BIDDER </td>
                    <td style="color:white; text-align: center;">PROJECT TITLE</td>
                    <td style="color:white; text-align: center;">BID (IN %)</td>
                    <td style="color:white; text-align: center;">VESTING PERIOD (in months)</td>
                  </tr>
                </thead>
                <tbody>
                  <%@bids.each do |bid|%>
                  <%@project = Project.where(id: bid.project_id).first%>
                  <tr style="background-color: white;">
                    <td style="text-align: center">
                      <img src="assets/img/profiles/10.jpg" alt="" class="img-circle max-w-40 m-r-10 ">
                      <%= current_user.full_name%>
                    </td>
                    <td style="text-align: center">
                      <%= link_to project_path(@project) do%>
                      <h5 style="margin-top: 10px;"><%= @project.title%></h5>
                      <%end%>
                    </td>
                    <td style="text-align: center;">
                      <h5 style="margin-top: 10px;"><%=bid.bid_percentage%></h5>
                    </td>
                    <td style="text-align: center;">
                      <% @vesting = bid["variables"]["vesting_period"] %>
                      <h5 style="margin-top: 10px;"><%= @vesting %></h5>
                    </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
