<div class="row">
	<div class="col-md-8 col-md-offset-2">
<div class="card-body card-grey">
   <div class="table-responsive">
      <table class="table table-hover">
       <thead style="background-color: #512dab;">
              <tr>
              <td style="color:white; text-align: center;">PROJECT TITLE</td>
              <td style="color:white; text-align: center;">BID (IN %)</td>
              <td style="color:white; text-align: center;">VESTING PERIOD (in months)</td>
              <td style="color:white; text-align: center;">CREATED ON</td>
              </tr>
            </thead>
            <tbody>
              <%@bids.each do |bid|%>
              <%@project = Project.where(id: bid.project_id).first%>
                <tr style="background-color: white;">
                  <td style="text-align: center">
                  	<%= link_to project_path(@project) do%>
					<%= @project.title%>	
					<%end%>
                  	</td>
                  <td style="text-align: center;">
                  	<%=bid.bid_percentage%>
                  </td>
                  <td style="text-align: center;">
                  	<% @vesting = bid["variables"]["vesting_period"] %>
                  	<%= @vesting %>
                  </td>
                  <td style="text-align: center;">
                  	<%=bid.created_at.strftime("%d/%m/%y")%>
                  </td>
                </tr>
              <%end%>
            </tbody>
      </table>
     </div>
</div>
</div>
</div>