<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <header id="header">
          <h1>Home</h1>
        </header>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row" style="background-color: #FFF; margin: 0; padding: 0;">
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "build_dig_team.png", class: "img-circle profile-mini img-center", height: "300px" %>
		<%= link_to projects_path do %>
			<h3>BUILD YOUR DIGITAL TEAM</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "digi_contract.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to dashboard_path do %>
			<h3>INSTANT PAYMENT SPLIT AND SMART CONTRACTS</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "resolutions.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to bids_path do %>
			<h3>RESOLUTIONS</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "smartvesting.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to projects_path do %>
			<h3>SMART VESTING</h3>
		<% end %>
	</div>
</div>
<br>
<div class="row" style="background-color: #FFF; margin: 0; padding: 0;">
	<br>
	<div class="col-xs-12 col-sm-4" style="margin-bottom: 10px; text-align: center;">
		<iframe id="player" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/kiJyH-adQes?wmode=opaque&amp;start=2&amp;widget_referrer=https%3A%2F%2Fenkidu.io%2F&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fcdn.embedly.com&amp;widgetid=1"></iframe>
	</div>
	<div class="col-xs-12 col-sm-4" style="margin-bottom: 10px; text-align: center;">
		<iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FY14Z--zw7zI%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DY14Z--zw7zI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FY14Z--zw7zI%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="col-xs-12 col-sm-4" style="margin-bottom: 10px;text-align: center;">
		<iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FLzgWemLTtw8%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLzgWemLTtw8&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FLzgWemLTtw8%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="col-xs-12" style="text-align: center;">
		<h3></h3>
	</div>
</div>