<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <header id="header">
          <h1>Home</h1>
        </header>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :styles do %>
	<style type="text/css">
		.btn-circle {
		  width: 30px;
		  height: 30px;
		  text-align: center;
		  padding: 6px 0;
		  font-size: 12px;
		  line-height: 1.428571429;
		  border-radius: 15px;
		}
	</style>
<% end %>

<!-- <div class="row" style="background-color: #FFF; margin: 0; padding: 0;">
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "build_dig_team.png", class: "img-circle profile-mini img-center", height: "300px" %>
		<%= link_to projects_path do %>
			<h3>BUILD YOUR DIGITAL TEAM</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "digi_contract.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to dashboard_path do %>
			<h3>INSTANT PAYMENT SPLIT AND SMART CONTRACTS</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "resolutions.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to bids_path do %>
			<h3>RESOLUTIONS</h3>
		<% end %>
	</div>
	<div class="col-md-6" style="text-align: center;">
		<%=image_tag "smartvesting.png", class: "img-circle profile-mini img-center", height: "300px"%>
		<%= link_to projects_path do %>
			<h3>SMART VESTING</h3>
		<% end %>
	</div>
</div> -->
<br>
<div class="row iframe-wrapper" style="background-color: #FFF; margin: 0; padding: 0;">
	<br>
	<div class="col-xs-12 col-sm-4 iframe-video" style="text-align: center;">
		<iframe id="player" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/kiJyH-adQes?wmode=opaque&amp;start=2&amp;widget_referrer=https%3A%2F%2Fenkidu.io%2F&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fcdn.embedly.com&amp;widgetid=1"></iframe>
	</div>
	<div class="col-xs-12 col-sm-4 iframe-video" style="text-align: center;">
		<iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FY14Z--zw7zI%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DY14Z--zw7zI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FY14Z--zw7zI%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="col-xs-12 col-sm-4 iframe-video" style="text-align: center;">
		<iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FLzgWemLTtw8%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLzgWemLTtw8&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FLzgWemLTtw8%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="col-xs-12" style="text-align: center;">
		<h3></h3>
	</div>
</div>
<div class="row content-wrapper">
	<div class="col-md-4" style="text-align: center; padding: 10px;">
		<button type="button" class="btn btn-default btn-circle" style="background: #311B92;"><b>1</b></button>
		<h3 style="color: #512DA8"><b>BUILD YOUR DIGITAL TEAM</b></h3>
		
		<h4 style="padding-left: 15px; line-height: 25px; color: #607D8B;">Enkidu offers a global collaboration platform where individuals can find like-minded collaborators - designers, engineers, developers, creators, e-commerce experts, content writers, small ticket investors and even coffee brewers. All of this on a public platform with each individual carrying a rating.</h4>
		
	</div>
	<div class="col-md-4" style="text-align: center; padding: 10px;">
		<button type="button" class="btn btn-default btn-circle" style="background: #311B92;"><b>2</b></button>
		<h3 style="color: #512DA8"><b>INSTANT PAYMENT SPLIT AND SMART CONTRACTS</b></h3>
		
			<h4 style="padding-left: 15px; line-height: 25px; color: #607D8B">
				On Enkidu, multiple collaborators can "team-up" to work on a project by signing a companyless digital contract. The payment gateway is central to the project, splitting each incoming payment to its recipients depending on that collaboration's cap table.
			</h4>
		
	</div>
	<div class="col-md-4" style="text-align: center;padding: 10px;">
		<button type="button" class="btn btn-default btn-circle" style="background: #311B92;"><b>3</b></button>
		<h3 style="color: #512DA8"><b>RESOLUTIONS & SMART VESTING</b></h3>
		
			<h4 style="padding-left: 15px; line-height: 25px; color: #607D8B">
				Enkidu uses a proprietary “resolution” voting system that has a private record of resolutions (action items) passed by the collaborative entity To make sure people pull their weight, a smart vesting system exists, so people will continue to receive a portion (or all) of their rewards depending on their contribution time while they were active on the project.
			</h4>
		
	</div>
</div>