<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <header id="header">
          <h1>Bid Details</h1>
        </header>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <div id="pillContent4" class="tab-content m-t-15">
          <div class="tab-pane fade " id="pillnav13">
            <div class="card type--profile">
              <header class="card-heading card-background" >
                <%=image_tag "img/profiles/blank_profile.svg", class: "img-circle profile-mini img-center", height: "150px", width: "150px"%>
              </header>
              <div class="card-body">
                <h3 class="name"><%= @bid_detail.bid.user.full_name%></h3>
                <span class="title"><%= @bid_detail.bid.user.job_profile%></span>
              </div>
              <footer class="card-footer border-top">
                <div class="row row p-t-10 p-b-10">
                  <div class="col-xs-4"><span class=""><%= @bid_detail.bid.user.email%></span><span>Email</span></div>
                  <div class="col-xs-4"><span class=""><%= distance_of_time_in_words_to_now(@bid_detail.bid.user.dob) %></span><span>Age</span></div>
                  <div class="col-xs-4"><span class=""><a href="<%= @bid_detail.bid.user.linkedin_profile %>"><i class="zmdi zmdi-linkedin"></i></a></span><span>Linkedin</span></div>
                </div>
              </footer>
            </div>
          </div>
          <div class="tab-pane fade" id="pillnav14">
            <%= @bid_detail.bid.project.description%>
          </div>
          <div class="tab-pane fade" id="pillnav15">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead style="background-image: linear-gradient(0deg, #7049ca, #512dab);">
                  <tr>
                    <th style="color:white; text-align: center;">MEMBERS</th>
                    <th style="color:white; text-align: center;">PAYMENT SPLIT (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <%@bid_detail.bid.project.project_users.each do |project_user|%>
                    <tr style="background-color: white;">
                      <td style="text-align: center"><%=project_user.user.email%></td>
                      <td style="text-align: center;"><%=project_user.ownership_percentage%></td>
                    </tr>
                  <%end%>
                  <tr style="background-color: white;">
                    <td style="text-align: center;">Treasury </td>
                    <td style="text-align: center"><%= @bid_detail.bid.project.treasury_percentage%></td>
                  </tr>
                  <tr style="background-color: white;">
                    <td style="text-align: center;">Unallocated </td>
                    <td style="text-align: center;"><%= @bid_detail.bid.project.unallocated_percentage%></td>
                  </tr>
                  <tr style="background-color: white;">
                    <th style=" text-align: center;">Total</th>
                    <th style=" text-align: center;">100</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade active in" id="pillnav16">
            <center>Accept Bid<br>
            <button class="btn btn-green btn-vote" data-vote="yes">YES<div class="ripple-container"></div></button> <button class="btn btn-danger btn-vote" data-vote="no">NO<div class="ripple-container"></div></button>
          </div></center>
        </div>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked nav-pills-primary" role="tablist">
          <li>
            <a href="#pillnav13" role="tab" data-toggle="tab">
              BIDDER DETAILS
            </a>
          </li>
          <li>
            <a href="#pillnav14" role="tab" data-toggle="tab">
              PROJECT DESCRIPTION
            </a>
          </li>
          <li>
            <a href="#pillnav15" role="tab" data-toggle="tab">
              CAP TABLE
            </a>
          </li>
          <li class="active">
            <a href="#pillnav16" role="tab" data-toggle="tab">
              ACTION
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    $(".btn-vote").on("click", function(){
      var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
      var button = $(this);
      var vote = $(this).data("vote");
      $.ajax({
        url: "<%=bid_detail_path(@bid_detail)%>",
        type: "PATCH",
        dataType: "json",
        data: {
          'vote_data' : {
            'vote' : vote            
          },
          'authenticity_token' : AUTH_TOKEN
        },
        success: function (data, status, jqXHR) {
          console.log("Voted successfully");
          window.open("/", "_self");
        },
        error: function (jqXHR, status, err) {
          console.log("Vote failed" + err);
          window.open("/", "_self");
        }
      });
    });
  </script>
<%end%>