<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12">
              <header id="header">
                  <h1>Bid Details</h1>
              </header>
          </div>
      </div>
</div>
</div>
<% end %>


<div class="card">
<div class="card-body">
<div class="row">
<div class="col-sm-9">
  <div id="pillContent4" class="tab-content m-t-15">
    <div class="tab-pane fade " id="pillnav13">
      <div class="card type--profile">
                      <header class="card-heading card-background" >
                        <img src="assets/img/profiles/08.jpg" alt="" class="img-circle">
                      </header>
                      <div class="card-body">
                        <h3 class="name"><%= @bid_detail.user.full_name%></h3>
                        <span class="title"><%= @bid_detail.user.job_profile%></span>
                      </div>
                      <footer class="card-footer border-top">
                        <div class="row row p-t-10 p-b-10">
                          <div class="col-xs-4"><span class=""><%= @bid_detail.user.email%></span><span>Email</span></div>
                          <div class="col-xs-4"><span class=""><%= @bid_detail.user.age%></span><span>Age</span></div>
                          <div class="col-xs-4"><span class=""><img src="assets/img/profiles/08.jpg" alt="NA" class="img-circle"></span><span>Likedin</span></div>
                        </div>
                      </footer>
                    </div>
    </div>
    <div class="tab-pane fade" id="pillnav14">
        <%= @bid_detail.bid.project.description%>
    </div>
      <div class="tab-pane fade" id="pillnav15">
                   <div class="table-responsive">
                      <table class="table table-hover">
                       <thead style="background-image: linear-gradient(0deg, #7049ca, #512dab);">
                              <tr>
                              <th style="color:white; text-align: center;">MEMBERS</th>
                              <th style="color:white; text-align: center;">PAYMENT SPLIT (%)</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr style="background-color: white;">
                                  <td style="text-align: center"><%= @bid_detail.user.email%></td>

                                </tr>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Treasury </td>
                                <td style="text-align: center"><%= @bid_detail.bid.project.treasury_percentage%></td>
                              </tr>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Unallocated </td>
                                <td style="text-align: center;"><%= @bid_detail.bid.project.unallocated_percentage%></td>
                              </tr>
                              <tr style="background-color: white;">
                                <th style=" text-align: center;">Total</th>
                                <th style=" text-align: center;">100</th>
                              </tr>
                            </tbody>
                      </table>
                     </div>
                </div>
        <div class="tab-pane fade active in" id="pillnav16">
          <center>Accept Bid<br>
          <button class="btn btn-green">YES<div class="ripple-container"></div></button> <button class="btn btn-danger">NO<div class="ripple-container"></div></button>
          </div></center>
        </div>
      </div>
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked nav-pills-primary" role="tablist">
          <li>
            <a href="#pillnav13" role="tab" data-toggle="tab">
              BIDDER DETAILS
            </a>
          </li>
          <li>
            <a href="#pillnav14" role="tab" data-toggle="tab">
              PROJECT DESCRIPTION
            </a>
          </li>
          <li>
            <a href="#pillnav15" role="tab" data-toggle="tab">
              CAP TABLE
            </a>
          </li>
          <li class="active">
            <a href="#pillnav16" role="tab" data-toggle="tab">
              ACTION
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>