<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="input-group" id="adv-search">
        <div class="row">
          <div class="col-xs-10 col-sm-10">
            <div class="form-group no-margin">
              <input type="text" class="form-control" placeholder="Search for projects" />
            </div>
          </div>
          <div class="col-xs-1 col-sm-1">
              <button type="submit" class="btn btn-sm btn-primary">Search</button>
          </div>
          <div class="col-xs-12 col-sm-12 hide-mobile" style="background-color: white; margin-left:13px;">
              <form class="form-horizontal ">
                  <div class="form-group">
                      <i class="zmdi zmdi-filter-list"></i>
                        <label for="filter">Filter by</label>
                      <br/>
                      <select class="form-control">
                          <option value="0" selected>All Projects</option>
                          <option value="1">Featured</option>
                          <option value="2">Most popular</option>
                          <option value="3">Top rated</option>
                          <option value="4">Most commented</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="contain">Project title</label>
                      <br/>
                      <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                      <label for="contain"><i class="zmdi zmdi-format-underlined"></i> Contains the words</label>
                      <br/>
                      <input class="form-control" type="text" />
                  </div>
              </form>
          </div>
        </div>          
      </div>
    </div>
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="background-color:#263238;">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="background-color: #512DA8">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enkidu</h4>
          </div>
          <div class="modal-body">
            <%= form_for @bid, class: "form-horizontal" do |f| %>
              <div class="form-group modal-form-index">
                <%= f.label :bid_percentage, "Enter your bid"%>
                <%= f.number_field :bid_percentage, :placeholder => "Bid Percentage", class: "form-control" %>
                <%= f.hidden_field :project_id, id: "modal-project-id-index",value: ""%>
                <%= f.hidden_field :resolution_id, value: "1"%>
              </div>
              <div class="form-group modal-form-index">
                <%= f.label :vesting_period, "Enter vesting period"%>
                <%= f.number_field :vesting_period, :placeholder => "Vesting Period" ,class: "form-control" %>
              </div>
              <%= f.submit "Submit", class: "btn btn-primary btn-round btn-cons"%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" >
      <div class="relative-div">
        <div class="projects-holder">
        <%@projects.each do |project|%>
          <div class="card card-index" style="background-color: #FAFAFA;"> 
            <header class="card-heading border-bottom">
              <button type="button" class="btn btn-sm btn-primary btn-round btn-cons apply-btn-index" data-toggle="modal" data-project_id="<%=project.id%>" data-target="#myModal" i>
                Apply
              </button>
              <%= link_to project_path(project) do%>
              <div class="circle lg md-bg-deep-purple-50 m-r-10 pull-left"><img src="/enkidu.png"></div>
                <h2><%= project.title%></h2>
              <%end%>
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset> 
            </header>
            <div class="card-body">
              <div class="card" style="margin-top: 10px;">
                  <div class="card-heading" >
                    <h5 style="text-align:left; ">PROJECT INFO</h5>
                  </div>
                  <div class="card-body card-grey card-text">
                     <h5><%=project.description%></h5>
                  </div>
              </div>
              <div class="card card-grey">
                  <a href="#" data-toggle="collapse" aria-expanded="false">
                    <div class="card" style="height: 40px; padding-top: 5px;">
                      <h5 style="margin-left: 17px; ">CAP TABLE <button type="button" data-toggle="collapse" class="btn btn-sm dropdown-toggle btn-primary" aria-expanded="false" style="margin-left: 92%; margin-top: -20px; height: 20px;width: 10px; padding-left: 0px; border-radius: 100%;">
                        <center style="margin-left: 6px; margin-top: -4px;"><span class="caret" ></span></center>
                        </button></h5>
                    </div>
                  </a>
                <div class="card-body card-grey">
                   <div class="table-responsive">
                      <table class="table table-hover">
                       <thead>
                              <tr>
                              <th>User</th>
                              <th>Ownership</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%project.project_users.each do |project_user|%>
                                <tr style="background-color: white;">
                                  <td><%=project_user.user.email%></td>
                                  <td><%=project_user.ownership_percentage%></td>
                                </tr>
                              <%end%>
                              <tr style="background-color: white;">
                                <td>Unallocated percentage</td>
                                <td><%=project.unallocated_percentage%></td>
                              </tr>
                            </tbody>
                      </table>
                     </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4" title="View comments">
                  <i class="zmdi zmdi-eye" style="padding-left: 20%;"></i> 30k
                </div>
                <div class="col-xs-4" title="View comments">
                 <i class="zmdi zmdi-favorite" style="padding-left: 20%;"></i> 50
                </div>
                <div class="col-xs-4 hover" title="View comments">
                  <%=link_to project_path(project, anchor: "comments-div-show") do%>
                    <i class="zmdi zmdi-comment-text" style="padding-left: 8%;"></i> <%=project.comments.count%>
                  <%end%>                    
                </div>
              </div>
            </div>
        </div>
        <%end%>
      </div>
    </div>
    </div>
</div>
