<% content_for :scripts do %>
  <script type="text/javascript">
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
   

       $(".ratings-clickable-index").on("click", function(e){
        console.log(e.target.className);
    

        var selectedVal = "";
        var selected = $("input[type='radio'][name='rating']:checked");
        if (selected.length > 0) {
        selectedVal = selected.val();
         
        }

         
      var button = $(this);
      $.ajax({
        url: "<%= ratings_path %>",
        type: "POST",
        dataType: "json",
        data: {
          'rating' : {
            'project_id' : button.parent().data("id"),
            'rating': selectedVal
          },
          'authenticity_token' : AUTH_TOKEN
        },
        success: function (data, status, jqXHR) {
          console.log(data);
          if(data.rated){
            button.css({'color':'red'});
            }
        },
        error: function (jqXHR, status, err) {
          console.log("LIKE FAILED");
        }
      })
    });









    $(".like_btn").click(function(){
      var button = $(this);
      $.ajax({
        url: "<%= likes_path %>",
        type: "POST",
        dataType: "json",
        data: {
          'like' : {
            'project_id' : button.data("id")
          },
          'authenticity_token' : AUTH_TOKEN
        },
        success: function (data, status, jqXHR) {
          console.log(data);
          if(data.liked){
            button.css({'color':'red'});
            var old = parseInt(button.find('span.like_count').text());
            button.find('span.like_count').text((old+1).toString());
          }else{
            button.css({'color':''});
            var old = parseInt(button.find('span.like_count').text());
            button.find('span.like_count').text((old-1).toString());
          }
        },
        error: function (jqXHR, status, err) {
          console.log("LIKE FAILED");
        }
      })
    });

  </script>
<% end %>
<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-xs-12">
                              <header id="header">
                                  <h1>Home</h1>
                              </header>
                          </div>
                      </div>
                  </div>
</div>
<% end %>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="input-group" id="adv-search">
        <%=search_form_for @search, class: "form-horizontal" do |f|%>
          <div class="row">
            <div class="col-xs-12 col-sm-12" style="background-color: white;"">
              <div class="form-group">
                  <i class="zmdi zmdi-filter-list"></i>
                  <label for="filter">Filter by</label>
                  <select class="form-control select-order-index">
                      <option value="0" selected>All Projects</option>
                      <option value="1">Most liked</option>
                      <option value="2">Most popular</option>
                      <option value="3">Top rated</option>
                      <option value="4">Most commented</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="contain"><i class="zmdi zmdi-format-underlined"></i> Contains the words</label>
                  <%=f.search_field :title_or_description_cont, class: "form-control" %>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-1 col-sm-1">
              <%=f.submit :Search, class: "btn btn-primary"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" style="background-color:#263238;">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="background-image: linear-gradient(82deg, #a052a9, #7752a7);">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enkidu</h4>
          </div>
          <div class="modal-body">
            <%= form_for @bid, class: "form-horizontal" do |f| %>
              <div class="form-group modal-form-index">
                <%= f.label :bid_percentage, "Enter your bid"%>
                <%= f.number_field :bid_percentage, :placeholder => "Bid Percentage", class: "form-control" %>
                <%= f.hidden_field :project_id, class: "modal-project-id",value: ""%>
                <%= f.hidden_field :resolution_id, value: "1"%>
              </div>
              <div class="form-group modal-form-index">
                <%= f.label :vesting_period, "Enter vesting period (in months)"%>
                <%= f.number_field :vesting_period, :placeholder => "Vesting Period" ,class: "form-control" %>
              </div>
              <%= f.submit "Submit", class: "btn btn-primary btn-round btn-cons"%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" >
      <div class="relative-div">
        <div class="projects-holder">
        <%@projects.each do |project|%>
          <div class="card card-index" style="background-color: #FAFAFA;"> 
            <header class="card-heading border-bottom">
              <button type="button" class="btn btn-sm btn-primary btn-round btn-cons btn-apply-index btn-copy-project-id" data-toggle="modal" data-project-id="<%=project.id%>" data-target="#myModal" i>
                Apply
              </button>
              <%= link_to project_path(project) do%>
              <div class="circle lg md-bg-deep-purple-50 m-r-10 pull-left"><img src="/enkidu.png"></div>
                <h2><%= project.title%></h2>
              <%end%>
            

                <div class="rating" data-id="<%= project.id %>">
                    <input type="radio" class="ratings-clickable-index" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" class="ratings-clickable-index" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                   <input type="radio" class="ratings-clickable-index" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                   <input type="radio" class="ratings-clickable-index" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>         
                    <input type="radio" class="ratings-clickable-index" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
                    <%=project.ratings_count%>
                    <script type="text/javascript">
                      
                    </script>
                   
                </div>

            </header>
            <div class="card-body">
              <div class="card" style="margin-top: 10px;">
                  <div class="card-heading" >
                    <h5 style="text-align:left; ">PROJECT INFO</h5>
                  </div>
                  <div class="card-body card-grey card-text">
                     <h5><%=project.description%></h5>
                  </div>
              </div>
              <div class="card card-grey">
                  <a href="#" data-toggle="collapse" aria-expanded="false">
                    <div class="card" style="height: 40px; padding-top: 5px;">
                      <h5 style="margin-left: 17px; ">CAP TABLE <button type="button" data-toggle="collapse" class="btn btn-sm dropdown-toggle btn-primary" aria-expanded="false" style="margin-left: 92%; margin-top: -20px; height: 20px;width: 10px; padding-left: 0px; border-radius: 100%;">
                        <center style="margin-left: 6px; margin-top: -4px;"><span class="caret" ></span></center>
                        </button></h5>
                    </div>
                  </a>
                <div class="card-body card-grey" style="display: none;">
                   <div class="table-responsive">
                      <table class="table table-hover">
                       <thead style="background-image: linear-gradient(0deg, #7049ca, #512dab);">
                              <tr>
                              <th style="color:white; text-align: center;">MEMBERS</th>
                              <th style="color:white; text-align: center;">PAYMENT SPLIT (%)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%project.project_users.each do |project_user|%>
                                <tr style="background-color: white;">
                                  <td style="text-align: center"><%=project_user.user.email%></td>
                                  <td style="text-align: center;"><%=project_user.ownership_percentage%></td>
                                </tr>
                              <%end%>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Treasury </td>
                                <td style="text-align: center"><%=project.treasury_percentage%></td>
                              </tr>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Unallocated </td>
                                <td style="text-align: center;"><%=project.unallocated_percentage%></td>
                              </tr>
                              <tr style="background-color: white;">
                                <th style=" text-align: center;">Total</th>
                                <th style=" text-align: center;">100</th>
                              </tr>
                            </tbody>
                      </table>
                     </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <i class="zmdi zmdi-eye" style="padding-left: 20%;"></i> <%= number_to_human project.views_count %>
                </div>
                <div class="col-xs-4">
                  <a href="#" id="like_<%= project.id %>" class="like_btn" data-id="<%= project.id %>"
                    <%= 'style=color:red;' if current_user.has_liked_project?(project.id) %>>
                      <span>
                        <i class="zmdi zmdi-favorite" style="padding-left: 20%;"></i> 
                        <span class="like_count"><%= number_to_human project.likes.count %></span>
                      </span>
                  </a>
                </div>
                <div class="col-xs-4 hover" title="View comments">
                  <%=link_to project_path(project, anchor: "comments-div-show") do%>
                    <i class="zmdi zmdi-comment-text" style="padding-left: 8%;"></i> 
                    <span class="comment_count"><%= number_to_human project.comments.count%></span>
                  <%end%>                    
                </div>
              </div>
            </div>
        </div>
        <%end%> 
      </div>
    </div>
    </div>
</div>

<script type="text/javascript">
  
  function sendCheckRequest(e, postId){
    e.preventDefault();

    var img = document.getElementById("like");
img.src="https://www.spreadshirt.com/image-server/v1/mp/designs/1012418524,width=178,height=178/facebook-like-button-emojis.png";
return false;
    console.log("Logged post ID "+postId);
  $.ajax({
    url: '../set_likes',
    type: "GET",
    data: {'post_id': postId},
    dataType: "json",
    // success: function(postId){
    //  // alert("Success");
    // },
    // error: function(data){
    //  // alert('Failure');
    //  console.log(data.responseText);
    // }
  });
  // location.reload();
}

</script>
