<% content_for :heading do %>
<div id="header_wrapper" class="header-sm" style="width: 130%;background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <header id="header">
          <h1><%=@project.title%></h1>
        </header>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="container" style="width: 90%;">
    <div class="card card-red detail-card">
      <header class="card-heading border-bottom">
        <h2 class="card-title"><%=@project.title%></h2>
        <div class="right-section">
          <a href="#" title="<%= number_to_human @project.likes.count %> like" id="like_<%= @project.id %>" class="like_btn" data-id="<%= @project.id %>"
            <%= 'style=color:red;' if current_user.has_liked_project?(@project.id) %>>
            <span>
              <h5 style="margin-top: 0;"><i class="zmdi zmdi-favorite"></i>
              <span class="like_count"><%= number_to_human @project.likes.count %></span>
              </h5>
            </span>
          </a>
          <span class="count">
            <h5 style="margin-top: 0;"><i class="zmdi zmdi-eye"></i>
            <%= number_to_human @project.views_count %></h5>
          </span> 
        </div>
        
        <!--fieldset class="rating-show">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset-->
      </header>
      <div class="card-body">
        <h5 style="text-transform: uppercase;"><span style="font-weight: bolder;">Ownership :</span> <%=User.find(@project.ip_ownership_id).full_name%></h5>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead style="background-image: linear-gradient(0deg, #7049ca, #512dab);">
              <tr>
                <th style="color:white; text-align: center;">MEMBERS</th>
                <th style="color:white; text-align: center;">PAYMENT SPLIT (IN %)</th>
              </tr>
            </thead>
            <tbody>
              <%@project_users.each do |project_user|%>
              <tr style="background-color: white;">
                <td style="text-align: center;"><%=project_user.user.email%></td>
                <td style="text-align: center;"><%=project_user.ownership_percentage%></td>
              </tr>
              <%end%>
              <tr style="background-color: white;">
                <td style="text-align: center;">Treasury </td>
                <td style="text-align: center;"><%=@project.treasury_percentage%></td>
              </tr>
              <tr style="background-color: white;">
                <td style="text-align: center;">Unallocated </td>
                <td style="text-align: center;"><%=@project.unallocated_percentage%></td>
              </tr>
              <tr>
                <th style="text-align: center;">Total</th>
                <th style="text-align: center;">100</th>
              </tr>
            </tbody>
          </table>
        </div>
        <h5 style="font-weight: bolder;">DESCRIPTION :</h5>
        <p class="description-text"><%=@project.description%></p>
        
        <% if @project.has_employee?(current_user.id) %>
        <h5 style="font-weight: bolder;">RESOLUTIONS :</h5>
        <div class="col-sm-12" style="padding:0;">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th style="text-align: center;">BID FOR</th>
                <th style="text-align: center;">BID (IN %)</th>
                <th style="text-align: center;">VESTING PERIOD (in months)</th>
                <th style="text-align: center;">TYPE</th>
              </tr>
            </thead>
            <tbody>
              <%@project.bids.where(active: true).each do |bid|%>
                <tr style="background-color: white;">
                  <td style="text-align: center">
                    <% name_for = bid.user_id.nil? ? '-' : User.find(bid.user_id).full_name  %>
                    <% if name_for == '-' %>
                      <h5 style="margin-top: 10px;"></h5> 
                    <% else %>
                    <div class="chip">
                    <div class="circle-profile-photo" data-name="<%= name_for %>"><canvas width="32" height="32"></canvas></div><span><%= name_for %></span>
                    </div>
                    <% end %>
                  </td>
                  <td style="text-align: center;">
                    <h5 style="margin-top: 10px;"><%=bid.bid_percentage.present? ? bid.bid_percentage : '-' %></h5>
                  </td>
                  <td style="text-align: center;">
                    <% @vesting = bid["variables"]["vesting_period"] %>
                    <h5 style="margin-top: 10px;"><%= @vesting.present? ? @vesting : '-' %></h5>
                  </td>
                  <td style="text-align: center;">
                    <h5><%= bid.resolution.name %></h5>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <p style="color: #000;font-size: 16px;">Looking for :</p>
        <%@project.tag_list.each do |tag|%>
          <button class="btn btn-xs btn-round" style="border: 1px solid black;margin-top: 5px;background-color: #512dab;color: #fff;padding: 6px 10px;"><%=tag%></button>
        <%end%>
      </div>
      <div class="card-footer p-10">
        <div class="row">
          <div class="form-group m-5 p-0 p-l-10 is-empty">
            <div class="form-group">
              <%=form_for :comment, url: comments_path do |f|%>
                <div class="col-xs-10">
                  <%=f.hidden_field :project_id, value: "#{@project.id}"%>
                  <%=f.label "Leave a comment", class: "sr-only"%>
                  <%=f.text_field :comment, class: "form-control form-rounded form-white", placeholder: "Leave a comment.."%>
                </div>
                <div class="col-xs-2">
                  <span class="form-group-btn">
                    <%=f.button :submit, class: "btn btn-blue btn-fab animate-fab btn-fab-sm" do%>
                    <i class="zmdi zmdi-mail-send"></i>
                    <%end%>
                  </span>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin:0;">
        <%@comments.each do |comment|%>
          <div class="col-xs-1" style="text-align: right;">
            <img src="/enkidu.png" class="rounded-circle hide-mobile" style="width:60px; height:60px;">
          </div>
          <div class="col-xs-11">
            <span class="text-primary" style="font-weight: bold;font-size: 14px;color: #512dab;"><%=comment.user.full_name%></span>
            <br>
            <small><%= time_ago_in_words(comment.created_at) %> ago. 
              <a href="#;" class="show-form" data-a_id="<%=comment.id%>">Edit</a>
            </small>
            <div class="comment_content" data-form_id="<%=comment.id%>">
              <%=comment.comment%></div>
            <%if comment.user_id == current_user.id%>
              <div class="no-display form-edit" data-form_id="<%=comment.id%>">
                <%=form_for (comment) do |f|%>
                <%=f.text_field :comment, class: "form-control"%>
                <%=f.submit "Submit", class: "btn btn-primary btn-sm"%>
                <button class="btn btn-primary btn-cancel btn-sm" data-form_id="<%=comment.id%>">Cancel</button>
              <%end%>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<% content_for :scripts do%>
  <script type="text/javascript">
    $(".show-form").on("click", function(){
      var commentId = $(this).data("a_id");
      $(".form-edit[data-form_id="+ commentId + "]").removeClass("no-display");
      $(".comment_content[data-form_id=" + commentId + "]").addClass("no-display");
    });
    $(".btn-cancel").on("click", function(e){
      var commentId = $(this).data("form_id");
      $(".form-edit[data-form_id="+ commentId + "]").addClass("no-display");
      $(".comment_content[data-form_id=" + commentId + "]").removeClass("no-display");
      e.preventDefault();
    });
  </script>
<%end%>