<div class="row">
	<div class="col-md-8 col-md-offset-3" >
		<div class="card card-red">
			<header class="card-heading border-bottom">
				<h2 class="card-title"><%=@project.title%></h2>
				<button type="button" class="btn btn-sm btn-primary btn-round btn-cons vesting-btn-index" data-toggle="modal" data-target="#myModal" i>
                  Vesting Details
              	</button>
			</header>
			<div class="card-body border-bottom">
				Ownership: <%=User.find(@project.ip_ownership_id).full_name%>
				<br><br>
				<div class="table-responsive">
					<table class="table">
						<thead style="background-color: #512dab;">
                              <tr>
                              <th style="color:white; text-align: center;">MEMBERS</th>
                              <th style="color:white; text-align: center;">PAYMENT SPLIT (IN %)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%@project_users.each do |project_user|%>
                                <tr style="background-color: white;">
                                  <td style="text-align: center;"><%=project_user.user.email%></td>
                                  <td style="text-align: center;"><%=project_user.ownership_percentage%></td>
                                </tr>
                              <%end%>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Treasury </td>
                                <td style="text-align: center;"><%=@project.treasury_percentage%></td>
                              </tr>
                              <tr style="background-color: white;">
                                <td style="text-align: center;">Unallocated </td>
                                <td style="text-align: center;"><%=@project.unallocated_percentage%></td>
                              </tr>
                              <tr>
                              <th style="text-align: center;">Total</th>
                              <th style="text-align: center;">100</th>
                              </tr>
                            </tbody>
					</table>
				</div>
				<h5>Description:</h5>
				<div class="card-body card-text" style="display: block; background-color: #f5f5f5;">
					<p><%=@project.description%></p>
				</div>
			</div>
			<div class="card-footer text-center">
				Looking for: <br>
				<%@project.tag_list.each do |tag|%>
					<button class="btn btn-primary btn-sm btn-round"><%=tag%></button>
				<%end%>
			</div>
			<div class="card-footer p-10">
				<div class="row">
				<div class="form-group m-5 p-0 p-l-10 is-empty">
					<div class="form-group">
						<div class="col-xs-10">
						<%=form_for :comment, url: comments_path do |f|%>
							<%=f.hidden_field :project_id, value: "#{@project.id}"%>
							<%=f.label "Leave a comment", class: "sr-only"%>
							<%=f.text_field :comment, class: "form-control form-rounded form-white", placeholder: "Leave a comment.."%>
						</div>
						<div class="col-xs-2">
							<span class="form-group-btn">
								<%=f.button :submit, class: "btn btn-blue btn-fab animate-fab btn-fab-sm" do%>
									<i class="zmdi zmdi-mail-send"></i>
								<%end%>
							</span>
						</div>
						<%end%>
					</div>
				</div>
				</div>
				</div>
		        <div class="row" style="margin-top: 16px;">
		        	<%@comments.each do |comment|%>
		        		<div class="col-xs-2" style="text-align: right;">
			        		<img src="/enkidu.png" class="rounded-circle" style="width:60px; height:60px;">
			        	</div>
			        	<div class="col-xs-10">
			        		<span class="text-primary" style="font-weight: bold;font-size: 14px;"><%=comment.user.full_name%></span>
			        		<br>
			        		<small><%=(Time.zone.now - comment.created_at).to_i / 1.day%> days ago</small>
			        		<p class="comment_content" style="font-size: 14px;margin-top: 5px;"><%=comment.comment%></p>
				        </div>
		        	<%end%>
		        </div>
	        </div>
		</div>	
	</div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="background-color:#263238;padding-top:140px;">
    <div class="modal-dialog" style="width: 400px;">
      <div class="modal-content">
        <div class="modal-header" style="background-color: white">
          <button type="button" class="close" data-dismiss="modal" style="color: black;">&times;</button>
          <div class="circle lg md-bg-deep-purple-50 m-r-10 pull-left"><img src="/enkidu.png"></div>
          <h2 style="color: black;">Enkidu</h2><h5 style="color:black;">VESTING DETAILS</h5>
        </div>
        <div class="modal-body" style="margin-top: -30px;">
          <div class="card-body">
              <div class="card" style="background-color: #f5f5f5;">
                <div class="card-body" style="background-color: #f5f5f5;">
                   <div class="table-responsive" style="padding-top: 20px;">
                      <table class="table table-hover">
                            <tbody>
								<tr style="background-color: white;">
									<td >Available Balance</td>
									<td >100 ENK</td>
								</tr>
								<tr style="background-color: white;">
									<td>Commitment Period</td>
									<td>2 YEARS</td>
								</tr>
								<tr style="background-color: white;">
									<td>Vesting Completed</td>
									<td>5 MONTHS</td>
								</tr>
								<tr style="background-color: white;">
									<td>Total Balance</td>
									<td>480.07 ENK</td>
								</tr>
	                          	<%@project_users.each do |project_user|%>
	                              <tr style="background-color: white;">
	                                <td><%=project_user.user.full_name%></td>
	                                <td><%=project_user.ownership_percentage%></td>
	                              </tr>
	                        	<%end%>
                            </tbody>
                      	</table>
                 	</div>
                </div>
              </div>
              <center><button class="btn btn-primary btn-md btn-round">Withdraw</button></center>
            </div>
        </div>
      </div>
    </div>
</div>