<!DOCTYPE html>
<html>
  <head>
      <title>Enkidu</title>
      <%= csrf_meta_tags %>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= yield :styles %>
  </head>
  <body>
    <div class="modal fade" id="Modal" role="dialog" style="background-color:#263238;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-image: linear-gradient(82deg, #a052a9, #7752a7); ">
            <!-- <div class="circle md md-bg-deep-purple-50 m-r-10 pull-left"><img src="/enkidu.png"></div> -->
            <h4 class="modal-title" style="margin-top:7px;"><i class="zmdi zmdi-accounts-alt" style="height: 30px;"></i> Create New Project  </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <%= form_for :project, class: "form-horizontal"  do |f| %>
              <div class="form-group modal-form-index">
                <p>
                    <%= f.label :Title ,class: "control-label"%>
                    <br>
                    <%= f.text_field :title,:placeholder => "Enter Title" ,class: "form-control" %>
                </p>
              </div>
              <div class="form-group modal-form-index">
                <p>
                  <%= f.label :Description %>
                  <br>
                  <%= f.text_field :description,:placeholder => "Enter Description" ,class: "form-control" %>
                </p>
              </div>
              <div class="form-group modal-form-index">
                <p>
                  <%= f.label :Leader_allocation %>
                  <br>
                  <%= f.number_field :leader_allocation,:placeholder => "Leader allocation" ,class: "form-control" %>
                </p>
              </div>
              <div class="form-group modal-form-index">
                <p>
                  <%= f.label :Treasury_allocation %>
                  <br>
                  <%= f.number_field :treasury_percentage,:placeholder => "Treasury percentage" ,class: "form-control" %>
                </p>
              </div>
              <div class="form-group modal-form-index">
                <%=f.label "Looking for"%>
                <%=f.text_field :tags, class: "form-control", placeholder: "Separate multiple tags by comma"%>
              </div>
              <%= f.submit "Submit" , class: "btn btn-primary btn-cons btn-round"%>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div id="notificationModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        sadfdsd
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer"><button type="button" class="btn btn-primary">YES</button></div>
      <div class="modal-footer"><button type="button" class="btn btn-primary">NO</button></div>
    </div>
  </div>
</div>



    <div id="app_wrapper">
      <header id="app_topnavbar-wrapper">
        <nav role="navigation" class="navbar topnavbar">
          <div class="nav-wrapper">
            <ul class="nav navbar-nav pull-left left-menu">
              <li class="app_menu-open">
                <a href="javascript:void(0)" data-toggle-state="app_sidebar-left-open" data-key="leftSideBar">
                  <i class="zmdi zmdi-menu"></i>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav left-menu hidden-xs">
              <li>
                  <%= link_to "Home", root_path %>
              </li>
              <li class="dropdown dropdown-lg app_menu_launcher hidden-xs">
                <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#Modal" aria-expanded="false">
                  <span>Create Project</span>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown avatar-menu">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
                  <span class="meta">
                    <span class="avatar">
                      <%= image_tag 'img/profiles/02.jpg', class: "img-circle max-w-35"%>
                    </span>
                    <span class="name"><%= current_user.first_name%> <%= current_user.last_name%> </span>
                    <span class="caret"></span>
                  </span>
                </a>
                <ul class="dropdown-menu btn-primary dropdown-menu-right">
                  <li>
                    <%= link_to  destroy_user_session_path,:placeholder => "Log out", :method => :delete, class: 'clearfix bg-master-lighter dropdown-item', style: 'color:black' do %>
                      <i class="zmdi zmdi-sign-in"></i> Sign Out
                    <%end%>
                  </li>
                </ul>
              </li>
              <li class="dropdown hidden-xs hidden-sm">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false">
                <span class="badge mini status danger"></span>
                <i class="zmdi zmdi-notifications"></i>
                </a>
                  <ul class="dropdown-menu dropdown-lg-menu dropdown-menu-right dropdown-alt">
                    <li class="dropdown-menu-header">
                      <h5>NOTIFICATIONS</h5>
                    </li>
                      <%@notifications.each do |notification|%>
                        <li>
                          <div class="card">
                            <div class="card-body">
                              <ul class="list-group ">
                                <%= link_to notification.route do%>
                                  <li class="list-group-item" style="height: 60px;">
                                    <span class="pull-left">
                                      <img src="assets/img/profiles/11.jpg" alt="" class="img-circle max-w-40 m-r-10 ">
                                    </span>
                                    <div class="list-group-item-body" style="margin-top: -30px;">
                                      <div class="list-group-item-heading">
                                        <%=notification.notification_type.notification_content%>
                                      </div>
                                      <div class="list-group-item-text">
                                          <%=notification.notification_description%>
                                      </div>
                                    </div>
                                  </li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                        </li>
                      <%end%>
                    <li class="dropdown-menu-footer">
                      <a href="/notification">
                        All notifications
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="last">
              <a href="javascript:void(0)" data-toggle-state="sidebar-overlay-open" data-key="rightSideBar">
                <i class="mdi mdi-playlist-plus"></i>
              <div class="ripple-container"></div></a>
            </li>
                  </ul>
              </div>
              <form role="search" action="" class="navbar-form" id="navbar_form">
                  <div class="form-group is-empty">
                      <input type="text" placeholder="Search and press enter..." class="form-control" id="navbar_search" autocomplete="off">
                      <i data-navsearch-close="" class="zmdi zmdi-close close-search"></i>
                  </div>
                  <button type="submit" class="hidden btn btn-default">Submit</button>
              </form>
          </nav>
      </header>
      <aside id="app_sidebar-left">
          <div id="logo_wrapper">
              <ul>
                  <li class="logo-icon">
                      <a href="/">
                          <div class="logo">
                              <%=image_tag "img/enkidu.png"%>
                          </div>
                          <h1 class="brand-text">Enkidu</h1>
                      </a>
                  </li>
                  <li class="menu-icon">
                  </li>
              </ul>
          </div>
          <nav id="app_main-menu-wrapper" class="scrollbar mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
              <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                  <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: -3px; left: 0px;" dir="ltr">
                      <div class="sidebar-inner sidebar-push">
                          <ul class="nav nav-pills nav-stacked">
                              <li class="sidebar-header">NAVIGATION</li>
                              <li class="active">
                                <a href="/"><i class="zmdi zmdi-search-in-file"></i>Browse Projects</a></li>
                              <li class="active">
                                  <a href="/dashboard"><i class="zmdi zmdi-view-dashboard"></i>Dashboard</a>
                              </li>
                              <li class="active">
                                <a href="#"><i class="zmdi zmdi-time-restore"></i>Resolution History</a>
                              </li>
                              <li class="active">
                                <a href="<%=bids_path%>"><i class="zmdi zmdi-border-color"></i>Bids</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                  <div class="mCSB_draggerContainer">
                      <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 392px; max-height: 619px; top: 2px;">
                          <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                      </div>
                      <div class="mCSB_draggerRail"></div>
                  </div>
              </div>
          </nav>
      </aside>
      <section id="content_outer_wrapper" class="bottom_width">
        <div id="content_wrapper" class="rightnav_v2">
          <%= yield :heading%>
          <div id="content" class="container-fluid">
              <div class="content-body content">
                  <%= render 'partials/flash' %>
                  <%=yield%>
              </div>
          </div>
        </div>
      </section>
      <aside id="app_sidebar-right">
        <div class="sidebar-inner sidebar-overlay">
          <div class="tab-pane fade active in" id="sidebar_activity">
            <div class="sidebar-timeline">
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">15 minutes ago</small>
                  <p><a href="#" class="accent">Mike Jones</a> fixed z-index conflict sidebar.scss</p>
                </div>
              </div>
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">30 minutes ago</small>
                  <p><a href="javascript:void(0)" class="accent">Hazel  Dean</a> left a comment on product page designs.</p>
                  <p><em>"Yuccie shoreditch trust fund, artisan tumblr sustainable cronut unicorn blog seitan. "</em></p>
                </div>
              </div>
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">45 minutes ago</small>
                  <p><a href="javascript:void(0)" class="accent">Molly</a> requested time off for training.</p>
                  <p><em>"Snackwave church-key cardigan you probably haven't heard of them, asymmetrical microdosing cronut "</em></p>
                </div>
              </div>
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">3 hours ago</small>
                  <p><a href="javascript:void(0)" class="accent">Frederick  Roy</a> commented your post.</p>
                  <p><em>"Skateboard dreamcatcher la croix, edison bulb sustainable sriracha vexillologist kombucha master cleanse."</em></p>
                </div>
              </div>
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">1 hour ago</small>
                  <p><a href="javascript:void(0)" class="accent">Holly Cobb</a> Uploaded 6 new photos.</p>
                </div>
              </div>
              <div class="time-item">
                <div class="item-info">
                  <small class="text-muted">5 hours ago</small>
                  <p><a href="javascript:void(0)" class="accent">Neal Stephens</a> setup a meeting with<a href="#" class="text-success"> Jason Kendall</a>.</p>
                  <p><em>"Authentic aesthetic tattooed, PBR&amp;B squid tote bag schlitz vaporware glossier yr man braid direct trade disrupt poke.  "</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      </div>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= yield :scripts %>
  </body>
</html>
